<div class="container">
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-light bg-light"
    style="border-bottom: 1px solid #15181b"
  >
    <div class="container">
      <a class="navbar-brand mr-5" routerLink="/">Ata Eğitim</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mt-1 mb-2 mb-lg-0">
          <li class="nav-item pr-2 ml-5">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i class="fas fa-home"></i> Ana sayfa</a
            >
          </li>
          <li class="nav-item pr-2">
            <a class="nav-link" routerLink="/sepet" routerLinkActive="active"
              ><i class="fas fa-shopping-cart"></i> Sepet</a
            >
          </li>
          <li class="nav-item mr-5 pr-2">
            <a
              class="nav-link"
              routerLink="/favori-urunlerim"
              routerLinkActive="active"
              ><i class="fas fa-heart"> </i> Favori Eğitimlerim</a
            >
          </li>
          <li class="nav-item">
            <button
              href=""
              class="btn btn-outline-success btn-sm mr-2"
              routerLink="/giris"
              routerLinkActive="active"
            >
              Giriş Yap
            </button>
          </li>
          <li class="nav-item">
            <button
              href=""
              class="btn btn-outline-primary btn-sm mb-1"
              routerLink="/kaydol"
              routerLinkActive="active"
            >
              Kaydol
            </button>
          </li>

          <li class="nav-item">
            <label class="mt-1 mr-3 ml-3"><b>Kullanıcı Adı</b></label>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-sm btn-outline-dark mr-2"
              routerLink="/admin"
              routerLinkActive="active"
              ><i class="fas fa-user-cog"></i> Admin</a
            >
          </li>
          <li class="nav-item">
            <button
              class="btn btn-outline-danger btn-sm"
              routerLinkActive="active"
            >
              Çıkış Yap
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
