<form>
  <div class="container mt-4 pt-1">
    <div class="row mt-5">
      <div class="float-left col-md-10">
        <select name="filtre" class="form-control mt-1" id="">
          <option value="Yazilim">Yazılım Geliştirme</option>
          <option value="Tasarim">Tasarım</option>
          <option value="">Tüm Eğitimler</option>
        </select>

        <div>
          <button class="btn btn-outline-danger float-left mt-1" type="submit">
            Tüm Eğitimler
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-5">
      <div class="col col-md-12 col-md-6 col-lg-3 mb-2">
        <div class="card mt-2">
          <div class="button-group">
            <button
              class="btn btn-danger float-right mb-1"
              title="Favorime Ekle"
            >
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <img
            src="assets/javascript-programming-language.jpg"
            [routerLink]="['/egitim-detay']"
            style="cursor: pointer"
            class="card-img-top"
          />
          <div class="card-body">
            <h3 class="card-title">Javascript</h3>
            <p class="card-text">Eğitim Bilgisi</p>
            <h6
              class="text-primary"
              style="font-family: 'Montserrat', sans-serif"
            >
              <b>650 <span style="font-size: medium">TL</span></b>
            </h6>
            <button
              class="btn btn-outline-secondary btn-sm float-left mt-1"
              [routerLink]="['/egitim-detay']"
            >
              Eğitim Detay
            </button>
            <button class="btn btn-primary float-right">Sepete Ekle</button>
          </div>
        </div>
      </div>
      <div class="col col-md-12 col-md-6 col-lg-3 mb-2">
        <div class="card mt-2">
          <div class="button-group">
            <button
              class="btn btn-danger float-right mb-1"
              title="Favorime Ekle"
            >
              <i class="fas fa-heart"></i>
            </button>
          </div>
          <img
            src="assets/photoshop.jpg"
            [routerLink]="['/egitim-detay']"
            style="cursor: pointer"
            class="card-img-top"
          />
          <div class="card-body">
            <h3 class="card-title">Photoshop</h3>
            <p class="card-text">Eğitim Bilgisi</p>
            <h6
              class="text-primary"
              style="font-family: 'Montserrat', sans-serif"
            >
              <b>400 <span style="font-size: medium">TL</span></b>
            </h6>
            <button
              class="btn btn-outline-secondary btn-sm float-left mt-1"
              [routerLink]="['/egitim-detay']"
            >
              Eğitim Detay
            </button>
            <button class="btn btn-primary float-right">Sepete Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
