<form>
  <div class="container mt-5 pt-1">
    <h4 class="mt-4">Favori Eğitimlerim</h4>
    <hr />
    <div class="row mt-3 mb-5">
      <div class="col col-12 col-sm-6 col-lg-3 mb-2">
        <div class="card">
          <img src="assets/photoshop.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Photoshop</h5>
            <p class="card-text">Eğitim Bilgisi</p>
            <h5
              class="text-primary"
              style="font-family: 'Montserrat', sans-serif"
            >
              <b> 400 <span style="font-size: medium">TL</span></b>
            </h5>
            <div class="button-group">
              <button
                class="btn btn-outline-secondary btn-sm float-left mt-1"
                [routerLink]="['/urun-detay']"
              >
                Ürün Detay
              </button>
              <button class="btn btn-sm btn-danger float-right mt-1">
                Favoriden Çıkar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
